@page "/customers"
@using Logic
@using UI
@rendermode InteractiveServer

<PageTitle>Customers</PageTitle>

<table>
    <tr>
        <th>Customer Name</th>
        <th>Card Number</th>
        <th>Frequent traveller?</th>
    </tr>
    @foreach (var customer in CurrentData.CustomersList)
    {
        <tr>
            <td>@customer.customerName</td>
            <td>@customer.cardNumber</td>
            <td>@customer.freqTravelerStatus</td>
        </tr>
    }
</table>

<p>Do we have any Customers?</p>
<p>Maybe you want to add one?</p>
<div class="row">
    <label>Customer Name
        <input type="text" @bind=newCustomerName>
    </label>
    <label>Card Number
        <input type="card" @bind=realCardNumber>
    </label>
    <label>Frequent traveller?
        <select id="frequentTravellers" name="Frequent traveller?" @bind=freqTravelerValue>
            <option value="false" selected>False</option>
            <option value="true">True</option>
        </select>
    </label>
    <button @onclick=addCustomer>Add Customer</button>
    <p>@label</p>
</div>

@code
{
    string newCustomerName = "";
    long realCardNumber;
    string freqTravelerValue;
    string label = "";
    List<(string, long, bool)> customers = new();

    void addCustomer()
    {
        bool freqTravelerStatus = false;
        if (freqTravelerValue == "true")
        {
            freqTravelerStatus = true;
        }

        try
        {
            label = SubMenuBundles.NewCustomer(newCustomerName, realCardNumber, freqTravelerStatus);
        }
        catch (Exception ex)
        {
            label = ex.Message;
        }
        CurrentData.SerializeData(customers);
    }
}